.input {
    position: relative;
    width: 250px;
    padding: .5em;
    font-size: 125%;
    outline: none;
    border: 1px solid rgba(102, 85, 85, 0.4);
    background-color: transparent;
    border-radius: 4px;
    z-index:2;
}

.input-div{
    position: relative;
    margin-bottom: 1.5em;
}

.form-label{
    width: auto;
    display: block;
    position: absolute;
    top: 9px;
    margin-left: 5px;
    font-size: 1em;
    font-weight: 400;
    padding: 0 .2em;
    background-color: white;
    background-clip: padding-box;
    color: #655;
    outline: none;
    z-index: 1;
    transition: top .3s ease;
}

.input-div input:focus + label,
.input-div input:valid + label{
    top: -12px;
    font-size: 1em;
    z-index: 2;
}

.error{
    color: orange;
    font-size: .8em;
    display: none;
    width: 250px;
}

input.valid{
    border-color: green;
}

input.invalid ~ .error{
    display:block;
}

input.invalid{
    border-color: red;
}